@import 'rules_prerender/examples/site/common/theme.css';

.html, .body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    flex: 1;

    max-width: var(--content-max-width);
    margin: 0 auto;
}

.main {
    padding: 10px var(--page-padding-width);
}
