@import '../../theme.css';

:host {
    display: block;
    font-size: 1.5rem;
    background-color: var(--light-gray);
    overflow-x: hidden;

    --rp-nav-pane--indentation: 0.75rem;
}

/* Remove user agent styles from all `<ul>` elements. */
ul {
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

li ul {
    display: none;
}

/* Show sublists when the `expanded` class is applied. */
li.expanded > ul {
    display: block;
}

/* Highlight the currently visited page. */
li.current-page {
    background-color: lightgrey;
}

/* Apply `>` to any expandable lists. */
li.sublist > button::after {
    content: '>';
    float: right;
    font-family: monospace;
}

@media (prefers-reduced-motion: no-preference) {
    li.sublist > button::after {
        transition: transform 0.25s ease-in-out;
    }
}

/* Rotate `>` when list is expanded. */
li.sublist.expanded > button::after {
    transform: rotate(90deg);
}

.list-el {
    --rp-nav-pane-indentation: 0;
    --rp-nav-pane--padding: 0.75rem;

    display: block;
    padding: 0.25rem var(--rp-nav-pane--padding);
}

.list-el:hover {
    background-color: lightgray;
}

/* Indent each level of the nested lists. */
.list-el.depth-1 {
    padding-left: calc(var(--rp-nav-pane--padding)
        + var(--rp-nav-pane--indentation));
}
.list-el.depth-2 {
    padding-left: calc(var(--rp-nav-pane--padding)
        + 2 * var(--rp-nav-pane--indentation));
}

/* Clear built-in button styles to align with anchor tags. */
button {
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    font: inherit;
}

/* Clear built-in anchor styles to align with button tags. */
a {
    color: inherit;
    text-decoration: none;
}
