@import '../../theme.css';

:host {
    font-size: 1.5rem;
    background-color: var(--light-gray);
    overflow-x: hidden;

    --rp-nav-pane--indentation: 1.5rem;
}

/* Root `<ul>` element. */
nav > ul {
    padding: 0.5rem 0;
}

/* Remove user agent styles from all `<ul>` elements. */
ul {
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

li ul {
    display: none;
}

/* Show sublists when the `expanded` class is applied. */
li.expanded > ul {
    display: block;
}

/* Apply `>` to any expandable lists. */
li.sublist > button::after {
    content: '>';
    float: right;
    font-family: monospace;

    transition: transform 0.25s ease-in-out;
}

/* Rotate `>` when list is expanded. */
li.sublist.expanded > button::after {
    transform: rotate(90deg);
}

.list-el {
    width: 300px;
    display: block;
    padding: 0.25rem 0.75rem;
}

.list-el:hover {
    background-color: lightgray;
}

/* Indent each level of the nested lists. */
.list-el.depth-1 { padding-left: var(--rp-nav-pane--indentation); }
.list-el.depth-2 { padding-left: calc(2 * var(--rp-nav-pane--indentation)); }

/* Clear built-in button styles to align with anchor tags. */
button {
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    font: inherit;
}

/* Clear built-in anchor styles to align with button tags. */
a {
    color: inherit;
    text-decoration: none;
}
