# Ignore peer dependencies from `@bazel/concatjs` to Karma packages which aren't used.
# TODO(#48): Remove once migrated off `@bazel/concatjs`.
strict-peer-dependencies=false

# Release process also appends the NPM access token here.
