@import '../../theme.css';

:host {
    height: 3rem;
    display: flex;
    background-color: var(--bazel-green);
    color: var(--light-text);
    padding: var(--header-padding);

    --header-padding: 0.5rem;
    --header-unpadded-height: calc(100% - (2 * var(--header-padding)));
}

.icon {
    height: 100%;
    aspect-ratio: 1;
}

#hamburger {
    background: none;
    border: none;
    color: var(--light-text);
    padding-block: 0;
    padding-inline: 0;
    cursor: pointer;
}

#hamburger svg {
    height: 100%;
    aspect-ratio: 1;
    fill: currentColor;
}

#github {
    align-self: flex-end;
}

#github > * {
    height: 100%;
}

#github svg {
    height: 100%;
    aspect-ratio: 1;
    fill: currentColor;
    color: var(--light-text);
}

#title {
    flex-grow: 1;
    margin-block: 0;
    text-align: center;

    /* Vertical center in header bar. */
    margin: auto 0;
}
