/** @fileoverview Global styles for the standard layout. */

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > .layout-middle {
    flex-grow: 1;

    display: flex;
}

body > .layout-middle > rp-nav-pane {
    max-width: 300px;
    flex-shrink: 0;
    box-shadow: 2px 0 5px 0 gray;
}

body > .layout-middle > main {
    flex-grow: 1;
}
