@import '../../theme.css';

:host {
    display: grid;
    grid-template:
        "header header header" auto
        "nav main -" 1fr
        "footer footer footer" auto;
    grid-template-columns: 300px 1fr 0fr;
    column-gap: 1rem;
    background-color: var(--light-gray);
    overflow-y: auto;
}

:host(.nav-collapsed) {
    grid-template-columns: 0px 1fr 0fr;
}

@media (prefers-reduced-motion: no-preference) {
    :host {
        transition: grid-template-columns 0.25s ease;
    }
}

rp-header {
    grid-area: header;
}

rp-nav-pane {
    grid-area: nav;
    box-shadow: 2px 0 5px 0 gray;
}

main {
    grid-area: main;
    padding: 0 1rem;
    margin: 1rem 0;

    width: calc(100% - 2rem /* padding */);
    max-width: 936px /* arbitrary number from Bazel docs */;

    background-color: white;
    box-shadow: 0 0 3px 0 gray;

    /*
     * IMPORTANT! The `main` content doesn't scroll independently, in fact it
     * should never have its own scrollbar. Yet, for some reason this one style
     * is critical to getting `<code>` tags to have their own horizontal scroll
     * bars. Exactly why is not clear.
     *
     * See: https://stackoverflow.com/a/77413468/3995712
     */
    overflow-y: auto;
}

footer {
    grid-area: footer;
}
