@import '../../theme.css';

:host {
    display: grid;
    grid-template:
        "header header header" auto
        "nav main -" 1fr
        "footer footer footer" auto;
    grid-template-columns: 300px 1fr 0fr;
    transition: grid-template-columns 0.25s ease;
    column-gap: 1rem;

    height: 100%;
    background-color: var(--light-gray);
}

:host(.nav-collapsed) {
    grid-template-columns: 0px 1fr 0fr;
}

rp-header {
    grid-area: header;
}

rp-nav-pane {
    grid-area: nav;
    box-shadow: 2px 0 5px 0 gray;
}

main {
    grid-area: main;
    padding: 0 1rem;
    margin: 1rem auto;

    width: calc(100% - 2rem /* padding */);
    max-width: 936px /* arbitrary number from Bazel docs */;

    background-color: white;
    box-shadow: 0 0 3px 0 gray;
}

footer {
    grid-area: footer;
}
