@import 'rules_prerender/examples/site/common/theme.css';

:host {
    background-color: var(--primary-color);
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    color: var(--text-color);
    padding: 0.25rem;
}

nav {
    border-top: 1px solid white;
}

ul {
    display: flex;
    flex-direction: row;
    max-width: var(--content-max-width);
    margin: 0 auto;
    list-style: none;
    padding-inline-start: 0;
}

li {
    flex: 1;
    font-size: 1.3rem;
    padding: 10px var(--page-padding-width);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover, a:visited {
    text-decoration: underline;
}
