@import 'rules_prerender/examples/site/common/theme.css';

.header {
    background-color: var(--primary-color);
}

.title {
    composes: highlight from 'rules_prerender/examples/site/common/theme.css';
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    color: var(--text-color);
    padding: 0.25rem;
}

.navigation {
    border-top: 1px solid white;
}

.list {
    display: flex;
    flex-direction: row;
    max-width: var(--content-max-width);
    margin: 0 auto;
    list-style: none;
    padding-inline-start: 0;
}

.list > li {
    flex: 1;
    font-size: 1.3rem;
    padding: 10px var(--page-padding-width);
}

.list a {
    color: var(--text-color);
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}
