:host {
    max-width: 936px /* arbitrary number from Bazel docs */;
    margin: 1rem auto;
}

#banner {
    margin-bottom: 1rem;
}

#md {
    --rp-markdown--box-shadow-size: 5px;

    height: calc(100% - (2 * 1em));
    background-color: white;
    padding: 1rem;

    /*
     * Box-shadow needs a margin to protect it or else thin containers with
     * paddings will "cover" the shadow with blank space.
     */
    margin: 0 var(--rp-markdown--box-shadow-size);
    box-shadow: 0 0 var(--rp-markdown--box-shadow-size) 0 gray;
}

#md > :first-child {
    margin-block-start: 0;
}

#md > :last-child {
    margin-block-end: 0;
}

#md pre {
    overflow-x: auto;
}
