:host {
    height: 100%;
    margin: 0 auto;
}

#md {
    height: calc(100% - (2 * 1em));
    padding: 1rem 0;
}

#md > :first-child {
    margin-block-start: 0;
}

#md > :last-child {
    margin-block-end: 0;
}

#md pre {
    overflow-x: auto;
}
