@import 'rules_prerender/examples/site/theme.css';

[comp-footer] {
    background-color: var(--primary-color);
    color: var(--text-color);
}

[comp-footer] footer {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 10px var(--page-padding-width);
}

[comp-footer] a {
    color: var(--link-color);
    text-decoration: none;
}

[comp-footer] a:visited, [comp-footer] a:hover {
    text-decoration: underline;
}
