@import 'rules_prerender/examples/site/common/theme.css';

:host {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px var(--page-padding-width);
}

div {
    margin: 0 auto;
    max-width: var(--content-max-width);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited, a:hover {
    text-decoration: underline;
}
